* {
  box-sizing: border-box;
  /* outline: 1px solid limegreen !important; */
  
}

body,
ul,
ol,
dl {
  margin: 0;
  color: white;
}
main {
  background-color: #6C757D;
}
#homeTitle{
  font-family: 'Lobster', cursive;
}
#homeTitle p{
  margin: 0;
  font-size: 1.2em;
}
#homeTitle h1{
  font-family: 'EB Garamond', serif;
  font-size: 4em;
}
#map { 
  height: 60%; 
  width: 80%;
  color: black;
}
.container {
  margin: 0;
  width: 100vw;
}

.contact {
  fill: aliceblue;
}

.tebing {
  background-image: url('images/IMG_1560.jpg');
}
.dancer {
  background-image: url('images/ledhek.jpg');
  background-position: top !important;
}
.tebingTutup {
  background-image: url('images/tebingTutup.jpeg');
}
.batas {
  background-image: url('images/batasdusunmid.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6) !important;
}
.dukuhBackground {
  background-image: url('images/dukuhBgCenter.jpg');
  background-position: bottom !important;
}
.tentangKitaBG {
  background-image: url('images/tentangkami/cocardKKN.jpg');
}
.deskripsi {
  background-image: url('images/wargaNgasem.jpg');
}
.batas h1 {
  font-family: 'EB Garamond', serif;
}
.bgImage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
}
.tentang {
  background-color: #C4CFB5;
}

.kataDukuh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(33, 37, 41, 0.4);
}
.tentangKita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 10px;
  background-color: rgba(33, 37, 41, 0.4);
}
.tentangKita p {
  text-indent: 40px;
}
.subunitNgasem {
  max-width: 400px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .kataDukuh {
    flex-direction: column;
    padding: 20px;
  }
  .will-fadeIn>div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.kataDukuh>div {
  padding: 0 10px;
}
.potret {
  width: 200px;
  height: auto;
}
.petikContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.petik {
  font-size: 50px;
  height: 20px;
}
.dukuhName {
  color: #BBC3C9;
}
.description {
  text-align: justify;
  padding: 10px;
  background-color: rgba(33, 37, 41, 0.4);
}
.description>p {
  text-indent: 40px;
}
.more {
  float: right;
  fill: #BBC3C9;
  padding: 10px 40px;
  background-color: rgba(33, 37, 41, 0.6);
  border: 1px solid #BBC3C9;
  transition: all 1s;
}
.more:hover {
  background-color: rgba(33, 37, 41, 1);
  fill: white;
  border: 1px solid white;
}


.will-fadeIn>div {
  max-width: 60%;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p {
  font-size: 13px;
  margin: 15px auto;
}

/* .doing {
  transform: rotate(-35deg);
  display: block;
  position: absolute;
  top: 0;
  left: -90px;
  margin-top: 25px;
  text-align: center;
  background-color: #15748b;
  width: 300px;
  color: #fff;
  padding: 5px 0px;
} */
.will-fadeIn {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  padding: 10px;
}
#mapNgasem {
  width: 100vw;
  height: 100vh;
}

.navbar.scrolled {

  background: #212529;
  transition: all 500ms;
}

.scrolled {
  color: #A5B8C6 !important;
}

.fadeInRight {
  -webkit-animation: fadeInRight .5s ease .4s both;
  -moz-animation: fadeInRight .5s ease .4s both;
  -ms-animation: fadeInRight .5s ease .4s both;
  -o-animation: fadeInRight .5s ease .4s both;
  animation: fadeInRight .5s ease .4s both;
}

@media (prefers-reduced-motion) {
  .fadeInRight .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft .5s ease .4s both;
  -moz-animation: fadeInLeft .5s ease .4s both;
  -ms-animation: fadeInLeft .5s ease .4s both;
  -o-animation: fadeInLeft .5s ease .4s both;
  animation: fadeInLeft .5s ease .4s both;
}

@media (prefers-reduced-motion) {
  .fadeInLeft .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}